#playerChar{
    border: none;
}
#enemyChar{
    overflow: hidden;
}


/* -------------------------------------------------------------------------- */
/*                                    Blob                                    */
/* -------------------------------------------------------------------------- */

/* .blob {
    height: 800px;
    width: 80px;
} */


.blob-idle {
    height: 175px;
    width: 80px;
    background: url("../assets/blob/blob_idle.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 12 / 14 / 17 / 17;
}


.blob-death {
    height: 640px;
    width: 80px;
    background: url("../assets/blob/blob_death.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 5 / 20 / 15 / 15;
}


.blob-attack {
    height: 80px;
    width: 80px;
    background: url("../assets/blob/blob_attack.png") 0 0 no-repeat;
    animation: attack 0.8s steps(10) infinite;
    transform: scale(4);
    grid-area: 14 / 4 / 17 / 17;
}


.blob-move {
    height: 640px;
    width: 80px;
    background: url("../assets/blob/blob_move.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 5 / 14 / 15 / 17;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -640px;
    }
}

@keyframes attack {
    from {
        background-position: 0;
    }
    to {
        background-position: -800px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    Buck                                    */
/* -------------------------------------------------------------------------- */

.buck{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
}

.buck-idle{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
}
.buck-damaged{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
}
.buck-attacks{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
    transform: translateX(500px);
}
.buck-running{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
}

/* -------------------------------------------------------------------------- */
/*                                    Snail                                   */
/* -------------------------------------------------------------------------- */
/* Snail Images */


.snail-hurt {
    height: 238px;
    width: 32px;
    background: url("../assets/snail/snail_hurt.png") 0 0 no-repeat;
    animation: snailHurt 1.0s steps(7) infinite;
    transform: scale(4);
    grid-area: 10 / 25 / 15 / 12;
} 


.snail-idle {
    height: 204px;
    width: 32px;
    background: url("../assets/snail/snail_idle.png") 0 0 no-repeat;
    animation: snailIdle 1.0s steps(6) infinite;
    transform: scale(4);
    grid-area: 10 / 25 / 15 / 12;
}

@keyframes snailHurt {
    from {
        background-position: 0;
    }
    to {
        background-position: -238px;
    }
}

@keyframes snailIdle {
    from {
        background-position: 0;
    }
    to {
        background-position: -204px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  Skeleton                                  */
/* -------------------------------------------------------------------------- */

/* skeleton Images */

#skeleton-attack {
    height: 37px;
    width: 43px;
    background: url("../assets/skeleton/Skeleton Attack.png") 0 0 no-repeat;
    animation: skel-attack 0.8s steps(18) infinite;
    transform: scale(4) scaleX(-1);
    grid-area: 10 / 25 / 15 / 12;
}

#skeleton-dead {
    height: 35px;
    width: 33px;
    background: url("../assets/skeleton/Skeleton Dead.png") 0 0 no-repeat;
    animation: skel-dead 0.8s steps(15) infinite;
    transform: scale(4) scaleX(-1);
    grid-area: 10 / 25 / 15 / 12;
}

#skeleton-hit {
    height: 32px;
    width: 30px;
    background: url("../assets/skeleton/Skeleton Hit.png") 0 0 no-repeat;
    animation: skel-hit 0.8s steps(8) infinite;
    transform: scale(4) scaleX(-1);
    grid-area: 10 / 25 / 15 / 12;
}

#skeleton-move {
    height: 33px;
    width: 22px;
    background: url("../assets/skeleton/Skeleton\ Walk.png") 0 0 no-repeat;
    animation: skel-move 0.8s steps(13) infinite;
    transform: scale(4) scaleX(-1);
    grid-area: 10 / 25 / 15 / 12;
}

#skeleton-idle {
    height: 32px;
    width: 24px;
    background: url("../assets/skeleton/Skeleton\ Idle.png") 0 0 no-repeat;
    animation: skel-idle 0.8s steps(11) infinite;
    transform: scale(4) scaleX(-1);
    grid-area: 10 / 25 / 15 / 12;
}

@keyframes skel-idle {
    from {
        background-position: 0;
    }
    to {
        background-position: -264px;
    }
}

@keyframes skel-move {
    from {
        background-position: 0;
    }
    to {
        background-position: -286px;
    }
}

@keyframes skel-attack {
    from {
        background-position: 0;
    }
    to {
        background-position: -774px;
    }
}

@keyframes skel-dead {
    from {
        background-position: 0;
    }
    to {
        background-position: -495px;
    }
}

@keyframes skel-hit {
    from {
        background-position: 0;
    }
    to {
        background-position: -240px;
    }
}
