#playerChar{
    border: none;
}
#enemyChar{
    overflow: hidden;
}


/* -------------------------------------------------------------------------- */
/*                                    Blob                                    */
/* -------------------------------------------------------------------------- */

/* .blob {
    height: 800px;
    width: 80px;
} */


.blob-idle {
    height: 175px;
    width: 80px;
    background: url("../assets/blob/blob_idle.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 12 / 14 / 17 / 17;
}


.blob-death {
    height: 640px;
    width: 80px;
    background: url("../assets/blob/blob_death.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 5 / 20 / 15 / 15;
}


.blob-attack {
    height: 80px;
    width: 80px;
    background: url("../assets/blob/blob_attack.png") 0 0 no-repeat;
    animation: attack 0.8s steps(10) infinite;
    transform: scale(4);
    grid-area: 14 / 4 / 17 / 17;
}


.blob-move {
    height: 640px;
    width: 80px;
    background: url("../assets/blob/blob_move.png") 0 0 no-repeat;
    animation: animate 0.8s steps(8) infinite;
    transform: scale(4);
    grid-area: 5 / 14 / 15 / 17;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to {
        background-position: -640px;
    }
}

@keyframes attack {
    from {
        background-position: 0;
    }
    to {
        background-position: -800px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    Buck                                    */
/* -------------------------------------------------------------------------- */

.buck{
	height: 165px;
	grid-area: 17 / 2 /  11 / 5;
}

.buck-idle{
	height: 175px;
	grid-area: 17 / 2 /  11 / 5;
    /* background: url("../assets/buck/buck-idle.gif") 0 0 no-repeat; */

}