/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* -------------------------------------------------------------------------- */
/*                                  Main CSS                                  */
/* -------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'VT323', monospace;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2{
	font-size: 2rem;
}

.character{
	border: 15px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 540px;
    width: 960px;
    background-image: url("../assets/images/pxArt.png");
	background-repeat: no-repeat;
    background-size: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */

#playerHealth {
	grid-area: 2 / 1 /  3 /  4;
}
#buckName{
	grid-area: 1 / 1 / 2 / 4;
}

#enemyHealth{
	grid-area: 2 / 14 / 3 / 17;
}
#enemyName{
	grid-area: 1 /14 / 2 / 17;
}

.health{
	text-align: center;
	padding-top: 5px;
}

.heart{
	height: 25px;
}

#messageBox {
	align-items: center;
	grid-area: 3 / 5 / 10 / 13;
	text-align: center;
}

/* --------------------------- Math Questions Box --------------------------- */

#box{
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	grid-area: 3 / 5 / 10 / 13;
	text-align: center;
	display: none;
}

#prompt{
	/* padding-top: 1.25rem; */
	font-size: 2rem;
	color: chartreuse;
	grid-area: 3 / 5 / 5 / 13;
	margin: auto;
	display: none;
}
.hide {
	display: none;
}

.show {
	display: block;
}

.choice {
	text-align: center;
	background: chartreuse;
	font-size: 1.5rem;
	border: 2px solid black;
	display: none;
}
#answer0{
	grid-area: 5 / 6 / 6 / 8;
}
#answer1{
	grid-area: 5 / 10 / 6 / 12;
}
#answer2{
	grid-area: 7 / 6 / 8 / 8;
}
#answer3{
	grid-area: 7 / 10 / 8 / 12;
}
#startBtn{
	grid-area: 8 / 8 / 9 / 10;
}
#timerElement {
	display: none;
	text-align: center;
	grid-area: 1 / 7 / 5 / 11;
}
.playerEnemy{
	display: none;
}

/* -------------------------------- Countdown ------------------------------- */
@keyframes count {
    0% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.nums {

    font-size: 5rem;
    height: auto;
    margin: auto;
    text-align: center;
    animation: count 0.1s cubic-bezier(0.1,0.1,1,1) 1;
    
}

/* ---------------------------------- Round --------------------------------- */

.roundMessage {
	
}